/* Styling for services submenu */
.services-submenu {
    width: 10rem;
    position: absolute;
    list-style: none;
    text-align: start;
  }
  
  /* Styling for individual items in the services submenu */
  .services-submenu li {
    background: rgb(0, 212, 212); /* Corrected 'Orgb' to 'rgb' */
    cursor: pointer;
  }
  
  /* Styling for submenu items */
  .submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
  }
  